*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header, nav, article, div, footer{
    border: 1px gray solid;
    background-color: yellow;
    text-align: center;
    padding: 10px;
}